/* Container for the question and image */
.question-container {
  width: 130%;
  max-width: 1000px;
  margin: 5px 0 20px -10%; /* Move the container left by reducing the left margin */
  
  height: 800px;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  box-sizing: border-box;
}

/* Styling for the image */
.question-container img {
  width: 95%;
  margin-top: 15px;
  max-width: 1200px;
  width: 500px;
  height: 280px;
  margin: 20px 0;
  border-radius: 5px;
}

/* Styling for the question number */
.question-container h3 {
  font-size: 24px;
  margin-top:3px;
  
  color: #333;
}

/* Container for the options section */
.options-container {
  margin-top: 20px;
}

/* Grid layout for the options - two columns */
.options {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two equal columns */
  gap: 20px; /* Space between the buttons */
  justify-items: center; /* Center each button horizontally */
}

/* Hover effect for the option buttons */
.options-container .option-button:hover {
  background-color: #b6b6b6;
}

/* Hover effect for the submit button */
.options-container .submit-button:hover {
  background-color: #a6dadb;
}

/* Disabled state for option and submit buttons */
.options-container .option-button:disabled,
.options-container .submit-button:disabled {
  background-color: #828282;
  cursor: not-allowed;
}

/* Styling for the question text */
.question-container h5 {
  font-size: 25px;
  font-weight: 500;
  margin-top:3px;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}
/* Question.css */
.option-button.selected {
  background-color: gray;
  color: white;
}


/* Styling for the options container */
.options-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Styling for each option */
.option-button {
  width: 300px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  margin: 5px; /* Space between options */
  font-size: 16px;
  background-color: #5da1a1;
  border: 1px solid #82dcd3;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-button:hover {
  background-color: #e0e0e0;
}

.submit-button {
  width: 300px; /* Same width as options */
  height: 50px; /* Same height as options */
  background-color: #136565;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.submit-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

