/* Ensure the quiz content is positioned at the top */
.App {
  text-align: center;
  margin-top: 0; /* Remove or reduce the top margin to move the content upwards */
}

/* Styling the win/lose message */
.win-message, .lose-message {
  font-size: 20px;
  margin-top: 20px;
}

/* Style for the score-container */
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0; /* Ensure score container doesn't push content down */
}

/* Timer Styles */
.timer {
  font-size: 10px; /* Adjust the size if needed */
  color: #333;
  margin-top: 50px; /* Move the timer slightly down by adjusting margin */
  margin-bottom: 10px;
  position: relative;
  left: 90%;
  transform: translateX(-50%);
}

/* Styling for the app title */
.app-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top:10px;
  font-size: 32px;
  color: #333;
}

/* Styling for the score */
.score {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

/* Timer h2 inside the .timer div */
.timer h2 {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Fixed Positioning for Win/Lose Messages */
.win-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 9999;
}

.lose-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 9999;
}

/* Styling for the question text */
.question-container h5 {
  font-size: 25px;
  font-weight: 500;
  margin-top:3px;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}

/* Styling for the question number */
.question-container h3 {
  font-size: 24px;
  margin-top:3px;
  color: #333;
  margin-top: 0;
}

/* Question text styling */
.question-container h5 {
  font-size: 25px;
  margin-top:3px;
  font-weight: 500;
  color: #333;
  margin: 20px 0;
}
