.preplanned_trips {
  padding: 40px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  color: #333;
  margin-top: -60px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

/* Trips List */
.trips_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.trip_card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 320px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.trip_card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.trip_info {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}

.trip_info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.trip_info p {
  font-size: 14px;
  color: #666;
  text-align: center;
  flex-grow: 1;
}

.trip_info button {
  background: linear-gradient(135deg, #5cb8c2, #34495e);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  display: block;
  width: 100%;
  text-align: center;
}

.trip_info button:hover {
  background: linear-gradient(135deg, #5cb8c2, #34495e);
}

.view-more {
  color: rgb(155, 155, 155);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 1080px;
}

.view-more:hover {
  background-color: #a5bdd4;
}
